#nav {
    width: 100%;
    background-color: var(--github-nav-bg);
    padding: 1.4rem 3rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    color: var(--github-nav-text);
}

.nav-main {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-logo {
    font-size: 3.2rem;
}

.logo-link {
    color: var(--github-nav-text);
}

/************ STYLING NAV INPUT ************/

.nav-input {
    border: none;
    width: 20vw;
    height: 3.1rem;
    padding: 1rem;
    background-color: var(--github-major-bg);
    border: 1px solid var(--github-outine);
    border-radius: 0.6rem;
    transition: all 0.4s;
    grid-row: 1/2;
    grid-column: 1/-1;
}

.nav-slash {
    grid-column: 2/-1;
    grid-row: 1/2;
    padding: 0.4rem 0.58rem;
    line-height: 1;
    margin-right: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid #3f3f3f;
    color: var(--github-secondary-text);
}

.nav-search {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}

.nav-input::placeholder {
    color: var(--github-primary-text);
}

.nav-input:not(:placeholder-shown)  {
    color: var(--github-secondary-text);
    text-transform: capitalize;
}

/************ GIVING BLUE BORDER ON CLICK ************/

.nav-input:active,
.nav-input:focus,
.nav-input:focus-visible,
.nav-input:focus-within {
    outline: none;
    width: 40vw;
    border: 1.3px solid var(--github-blue);
}

.nav-input:active ~ .nav-slash,
.nav-input:focus  ~ .nav-slash,
.nav-input:focus-visible ~ .nav-slash,
.nav-input:focus-within ~ .nav-slash {
    display: none;
}

/************ ON CLICK MAKING PLACEHOLDER LITTLE DARK ************/

.nav-input:active::placeholder,
.nav-input:focus::placeholder,
.nav-input:focus-visible::placeholder,
.nav-input:focus-within::placeholder {
    color: var(--github-secondary-text);
}

/************ NAVIAGATION  ************/

.nav-list {
    list-style: none;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: capitalize;
    display: flex;
    gap: 1.5rem;
    letter-spacing: 0.05rem;
    user-select: none;
    cursor: context-menu;
}

.nav-list-item {
    transition: all 0.2s;
}

.nav-list-item:hover {
    color: var(--github-secondary-text);
}

.nav-acc-img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

/************ NAVIAGATION SECONDARY  ************/

.nav-sec {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
}

.nav-sec-grp {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: all 0.2s;
}

.nav-sec-grp:hover {
    color: var(--github-secondary-text);
}

.nav-icon-bell {
    font-size: 1.6rem;
}

.nav-icon-plus {
    font-size: 1.9rem;
}