.languages {
  width: 100%;
}

.lang-img {
    width: 100%;
}

.languages-known,
.languages-learn {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin: 2.3rem 0;
}
.languages-head {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--github-primary-text);
  text-align: center;
  margin: 3rem 0 5rem;
  position: relative;
}

.languages-head::after {
  content: "";
  width: 9rem;
  position: absolute;
  border-radius: 6px;
  height: 4px;
  bottom: -30%;
  transform: translateX(-50%);
  left: 50%;
  background-image: linear-gradient(
    45deg,
    var(--github-primary-text) 0%,
    var(--github-primary-text) 25%,
    transparent 25%,
    transparent 35%,
    var(--github-primary-text) 35%
  );
}

.language-tag {
    height: 2.2rem;
}