.subnav {
    display: grid;
    grid-template-columns: 26% 1fr;
    margin-top: 2rem;
    border-bottom: 1.5px solid var(--github-outine);
}

.subnav-sec {
    display: flex;
    align-items: flex-end;
    color: var(--github-secondary-text);
}
.subnav-grp {
   display: flex;
   gap: 1rem;
    padding: 2.6rem 2.1rem 1rem;
    transition: all 0.2s;
    border-bottom: 2px solid transparent;
}

.subnav-grp:hover {
    border-bottom: 2px solid var(--github-secondary-text);
}

.subnav-grp > a {
    color: var(--github-secondary-text);
}
.subnav-items {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}
.subnav--icon {
    color: var(--github-icon);
    font-size: 1.8rem;
}

.subnav-grp:hover > a > .subnav-items {
    color: var(--github-primary-text);
}

.active {
    color: var(--github-primary-text) !important;
    border-bottom: 2px solid var(--github-orange) !important;
}