.subnav {
  display: grid;
  grid-template-columns: 28% 1fr;
  margin-top: 1.2rem;
  border-bottom: 1.5px solid var(--github-outine);
}

.subnav-sec {
  display: flex;
  align-items: flex-end;
}
.subnav-grp {
  
  padding: 2.6rem 2.3rem 1.4rem 2.1rem;
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
}

.subnav-link {
    display: flex;
    gap: 1rem;
}

.subnav-grp:hover {
  border-bottom: 2px solid var(--github-secondary-text);
}

.subnav-grp > a {
  color: var(--github-secondary-text);
}
.subnav-items {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.subnav--icon {
  color: var(--github-icon);
  font-size: 1.8rem;
}

.subnav-grp:hover > a > .subnav-items {
  color: var(--github-primary-text);
}

.active {
  border-bottom: 2px solid var(--github-orange) !important;
}

.active > a > .subnav--icon {
    color: var(--github-primary-text);
}

.active > a {
    color: var(--github-primary-text);
  }